body{
  background: url(https://thumbs.dreamstime.com/z/weather-forecast-concept-sunny-rainy-blue-background-top-view-copy-space-161743792.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display : flex;
  justify-content: center ; /*가로 가운데 정렬 */
  align-items: center ; /* 세로 가운데 정렬*/
  height: 100vh;
  flex-direction: column;
}
.weather-box{
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}